asgiref==3.8.1
brotlicffi==1.2.0.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
Django==5.2
django-debug-toolbar==6.1.0
djangorestframework==3.16.1
idna==3.11
pip==25.2
pycparser==2.23
PySocks==1.7.1
python-dotenv==1.2.1
requests==2.32.5
setuptools==78.1.1
sqlparse==0.5.2
typing_extensions==4.15.0
urllib3==2.6.1
waitress==3.0.2
wheel==0.45.1
win_inet_pton==1.1.0
