{% extends 'main/base.html' %}
 
{% block content %}
<h1 class="mb-4">投稿詳細</h1>
 
 
<div class="card mb-3">
  <div class="card-header">
    {{ post.title }}
  </div>
 
  <div class="card-body">
    <p class="card-text">{{ post.content|linebreaksbr }}</p>
  </div>
 
  <div class="card-footer text-muted">
    投稿者: {% if post.author %}{{ post.author.username }}{% else %}(不明){% endif %} ({{ post.created_at }})
  </div>
 
  {% if user == post.author %} <div class="card-footer d-flex justify-content-end">
      <a href="{% url 'post_edit' post.pk %}" class="btn btn-sm btn-warning me-2">編集</a>
      <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-danger">削除</a>
  </div>
  {% endif %}
</div>
{% endblock content %}
 